/.DS_Store
/Do Not Deploy
# /src/vanilla-app/dist
# /src/vanilla-app/node_modules
/src/react-app/dist
/src/react-app/node_modules
/src/FileCabinet/SuiteApps/vanilla-app-bundle/.DS_Store
/src/FileCabinet/SuiteApps/vanilla-app-bundle/assets/.DS_Store
/src/FileCabinet/SuiteApps/vanilla-app-bundle/assets/images/.DS_Store
/src/FileCabinet/SuiteApps/react-app-bundle/.DS_Store
/src/FileCabinet/SuiteApps/react-app-bundle/assets/.DS_Store
/src/FileCabinet/SuiteApps/react-app-bundle/assets/images/.DS_Store
/src/ccnael

# Project config
project.json

.gitmodules