/.DS_Store
/Do Not Deploy
/src/vanilla-vite-app/dist
/src/vanilla-vite-app/node_modules
/src/react-vite-app/dist
/src/react-vite-app/node_modules
/src/FileCabinet/SuiteApps/vanilla-vite-app-bundle/.DS_Store
/src/FileCabinet/SuiteApps/vanilla-vite-app-bundle/assets/.DS_Store
/src/FileCabinet/SuiteApps/vanilla-vite-app-bundle/assets/images/.DS_Store
/src/FileCabinet/SuiteApps/react-vite-app-bundle/.DS_Store
/src/FileCabinet/SuiteApps/react-vite-app-bundle/assets/.DS_Store
/src/FileCabinet/SuiteApps/react-vite-app-bundle/assets/images/.DS_Store
/src/ccnael

# Project config
project.json