/**************** MUURI ****************/
/* html#scheduler-html {
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
} */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
}

/***** CREATE/UPDATE EVENT *****/
#event-modal {
  /* zoom: .75; */
}

#event-modal * {
  /* font-size: 12px; */
}

#event-modal,
.modal-body,
.modal-content {
  font-size: 12px !important;
}

.modal-header {
  background-color: #4A9FF9;
  color: #fff;
  height: 40px;
}

#modal-title-row {
  top: 10px; 
  position: absolute; 
  float: left;
}

#event-modal .circle-inner {
  color: white;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 30px;
  width: 30px;  
  font-size: 13px;
}

.event-class-style-name {
  background-color: #0d6efd;
  color: #FFF;
}

/* DATATABLE */
table.dataTable {
  /* width: auto; */
}
table.dataTable td.dt-control {
  text-align: center;
  cursor: pointer;
}
table.dataTable td.dt-control:before {
  display: inline-block;
  box-sizing: border-box;
  content: "";
  border-top: 5px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid transparent;
  border-right: 0px solid transparent;
}
table.dataTable tr.dt-hasChild td.dt-control:before {
  border-top: 10px solid rgba(0, 0, 0, 0.5);
  border-left: 5px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 5px solid transparent;
}

html.dark table.dataTable td.dt-control:before,
:root[data-bs-theme=dark] table.dataTable td.dt-control:before {
  border-left-color: rgba(255, 255, 255, 0.5);
}
html.dark table.dataTable tr.dt-hasChild td.dt-control:before,
:root[data-bs-theme=dark] table.dataTable tr.dt-hasChild td.dt-control:before {
  border-top-color: rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
}

.wotable {
  width: 100%;
  background-color: #f0f0f0;
  height: 100%;
  /* margin: 20px; */
}

.dt-length {
  padding-left: 10px;
}

.dt-search {
  padding-right: 10px;
}

.dt-info {
  padding-left: 10px;
  margin-top: -5px;
}

.dt-paging {
  padding: 0 5px 5px 0;
}

/* .shown {
  background: #2cc16a;
  transition: background .5s;
} */
/* TOGGLE */
div.form-check {
  font-size: 18px;
}

/* PROGRESS */
.progress {
  height: 15px;
  background: #ccc;
  /* font-size: 10px; */
}

/**************** ETC ****************/
.small-font {
  font-size: 10px;
}

.required-border {
  border-color: crimson;
}

.required {
  color: crimson;
  font-style: italic;
}

.cursor-pointer {
  cursor: pointer;
}

.trash {
  color: red;
  cursor: pointer;
}