/* Background overlay */
#filterFieldResources, #filterFieldBoardJob, #filterFieldBoardEvent, #filterFieldCalendarJob, #filterFieldCalendarEvent, #filterFieldEventResource, #openFilterGeneralEventResourceModal {

  .modal-header {
    // font-size: 18px;
    // margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
  }

  .filter-group {
    margin: 10px 0;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* Background overlay */
  /* .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  } */

  /* .addFieldsForm {
    display: none !important;
  } */
}

/* #filterFieldEventResource {
  z-index: 9999;
} */