/* Background overlay */
#filterFieldResources, #filterFieldBoardJob, #filterFieldBoardEvent, #filterFieldCalendarJob, #filterFieldCalendarEvent, #filterFieldEventResource, #openFilterGeneralEventResourceModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  // .modal-body {
	// 	z-index: -1;
	// }

  .modal-header {
    font-weight: bold;
    text-align: center;
  }
  .filter-group {
    margin: 10px 0;
  }
}
.multiple-filter-fields {
  width: 100% !important;
  max-width: 500px !important;
}
.updateFieldsForm {
  display: none;
}
/* #filterFieldEventResource {
  z-index: 9999;
} */