$color_11: #234678;
$background-color_22: #dfe4eb;

#completeEventModal {
	width: 100%;
	button.accordion-button {
		background-color: $background-color_22;
		color: $color_11;
	}
	.ts-input-container {
		display: flex;
		gap: 5px;
		input {
			width: 40px;
			border: none;
			text-align: center;
		}
	}
	#timeSheets_dt {
		width: 100%;
	}
	.modal-body {
		z-index: -1;
	}
}
