$color_7: #333;
$background-color_2: #ffffff;
$background-color_5: #499ff9;
$background-color_6: #f9944a;
$background-color_10: #888;
$background-color_17: #f1f1f1;
$background-color_18: #ddd;
$background-color_19: #f0f0f0;

#calendarSection {
	display: block;
	.main-container {
		display: none;
	}
	#calendar {
		height: 90%;
		width: 100%;
		margin: auto;
		margin-top: 10px;
		padding-bottom: 10px;
		background-color: #f0f0f0;
		overflow: scroll;

		/* .fc-timeline-body, .fc-timeline-header-row, .fc-view-harness, .fc-scroller {
			white-space: nowrap;
    		overflow-x: scroll !important;
		} */

		.fc-license-message {
			display: none;
		}

		.fc-resource-header {
			background-color: #2c3e50;
			color: #ecf0f1;
			font-size: 16px;
			font-weight: 600;
			padding: 10px;
			border-bottom: 2px solid #34495e;
		}
		.fc-toolbar button {
			font-weight: bold !important;
		}
		
		.fc-resource-cell {
			border: 1px solid #bdc3c7;
			background-color: #ecf0f1;
			padding: 10px;
		}

		.fc-event {
			border-radius: 8px;
			padding: 8px;
			font-size: 11px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			* {
				font-size: 9px;
			}
			.card-event {
				margin-left: 5px; 
				height: 150px;
			}
			.card-head {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 5px;
				border-bottom: 1px solid #ccc;
				padding-bottom: 5px;
			}
			.card-name > a {
				color: #fff !important;
			}
			.card-content {
				color: #fff !important;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.card-content .badge {
				zoom: 0.8;
			}
		}
		.fc-event:hover {
			// background-color: #2980b9;
			cursor: pointer;
			// transform: scale(1.0123);
			transition: transform 0.3s, background-color 0.3s;
		}
		
		.fc-event-drag {
			border: 2px dashed #e74c3c;
		}
		
		.fc-resource-title {
			font-size: 15px;
			color: #2c3e50;
			font-weight: 500;
		}
	
		.fc-resource-area {
			background-color: #bdc3c7;
			padding: 15px;
			border-radius: 5px;
		}
	
		.fc-resource-timeline .fc-daygrid-day-number {
			font-size: 12px;
			color: #34495e;
		}
	
		.fc-timeline-event {
			border: 2px solid #1abc9c;
			padding: 5px;
			border-radius: 4px;
		}
		
		.fc-resource-area::-webkit-scrollbar {
			width: 8px;
		}
		
		.fc-resource-area::-webkit-scrollbar-thumb {
			// background: #3498db;
			border-radius: 4px;
		}
		
		.fc-resource-area::-webkit-scrollbar-track {
			background: #ecf0f1;
		}

		.fc-list-event:hover {
			background-color: transparent !important;
			color: inherit !important;               
		}
		.fc-list-event:hover {
			background-color: transparent !important;
  			color: inherit !important;           
		}
		.fc-datagrid-cell-frame {
			height: 20;
		}
		.dropdown-content {
			display: block;
  			opacity: 0;
			position: absolute;
			background-color: $background-color_17;
			min-width: 120px;
			overflow: auto;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 9999;
			line-height: .5;
			border-radius: 5px;
			right: 10px;
			top: -20px;
			a {
				color: $color_7;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				&:hover {
					background-color: $background-color_18;
				}
			}
		}
		.dropdown {
			&:hover {
				.dropdown-content {
					opacity: 1;
  					visibility: visible;
				}
			}
		}
	}
  
	.secondColumn {
		flex-basis: 90%;
		min-width: 250px;
		max-width: 90%;
	}
	.leftSidebar {
		width: 12%;
		height: 90%;
	}
	.thirdColumn {
		flex-basis: 10%;
		min-width: 350px;
		.card-header {
			justify-content: center;
			background-color: $background-color_5;
			text-align: center;
		}
		overflow: auto;
		.card-item {
			cursor: grab;
		}
		.accordion-button {
			font-size: 1rem;
			font-weight: bold;
		}
		
		.selectpicker, .form-control {
			width: 100%; /* Ensure full-width for the input fields */
			border-radius: 5px;
		}
		
		#col2_2-filter-tableWrapper .container-fluid {
			padding: 15px;
		}
		
		.row {
			margin: 10; /* Remove unnecessary gaps */
		}
		
		@media (max-width: 768px) {
			.row {
				flex-direction: column; /* Stack inputs for smaller screens */
			}
		}		
	}
	.toggleLeft, .toggleRight {
		font-size: 22px;
		z-index: 1;
	}
	.collapseRight {
		z-index: 2;
		margin-top: 20px;
		background-color: $background-color_19;
		// overflow-y: unset;
		transition: 0.5s ease;
		height: 100%;
		// width: 100%;
		min-width: 335px;
	}
	.card-wrapper {
		grid-column: 2 / 3;
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		margin-top: 5px;
		justify-content: center;
	}
	.card-name {
		margin: 2;
	}
	.card-item {
		margin-top: 10px;
		background-color: $background-color_2;
		padding: 5px;
		border-radius: 8px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
		margin-bottom: 10px;
		width: 150px;
		height: 150px;
	}
	.collapse-content {
		display: inline-block;
	}
	.grid-container {
		display: flex;
		width: 100%;
		height: 100%;
		zoom: 0.8;
	}
	.fc-timeline-event-harness {
		zoom: 1.25;
	}
	.resizer {
		width: 10px;
		background-color: #ccc;
		cursor: col-resize;
		position: relative;
		z-index: 1;
	}	  
	.content {
		padding: 10px;
		box-sizing: border-box;
	}
	.fc-toolbar-chunk {
		margin: 10px;
	}
	.fc-toolbar-title {
		margin-top: 15px;
		display: flex;
		align-items: left;
	}

	.fc-toolbar-title div {
		display: flex;
		// gap: 15px;
	}

	.fc-toolbar-title span {
		border-radius: 50%;
	}
	#legend {
		display: inline-block; 
		margin-left: -20px;
		margin-top: 10px;
		font-size: 12px;

		span {
			display: inline-block; 
			width: 15px; 
			height: 15px; 
			margin-left: 5px; 
			margin-right: 5px;
		}
	}
	.row-inputs {
		gap: 10px;
		box-sizing: border-box;
		justify-content: center;
		div.input-group {
			display: block;
			width: auto;
		}
	}
	#calendar-event-datefrom, #calendar-event-dateto {
		margin-top: -10px;
		margin-bottom: 15px;
	}
	.fc-event-dragging {
		// opacity: 0;
	}
	/* Hover effect on time grid slots */
	td.fc-timeline-slot {
		position: relative;
		transition: background-color 0.2s ease-in-out;
	}

	/* Hover effect applied to time grid slots */
	td.fc-timeline-slot:hover {
		background-color: rgba(0, 123, 255, 0.3); /* Light blue background */
		cursor: pointer;
	}

	/* Optional: Adding a border to highlight the hovered time slot */
	td.fc-timeline-slot.fc-hovered {
		border: 2px solid #007bff;
	}
	/* button.fc-button {
		border-radius: 15px !important;
		margin-left: 1px;
		margin-right: 1px;
	} */
}